<div class="intro">
<h4 class="text-left">Instructions</h4>
<div class="smallLine"></div>
<h6 class="text-left mb-4">Before going to start the quiz please go through the instructions given below</h6>
<ol class="pl-3">
<li class="mb-3">There will be 5 questions with multiple choice, one question will shown at a time</li>
<li class="mb-3">You have to select one answer, Once you select the answer please click on check answer to show the feedback, once you click on the check answer the question options will be disabled, and then you can click on next to move to second question</li>
<li class="mb-3">Once you reach the last question, click on result button to get you result</li>
</ol>
<div class="text-right">
	<button mat-raised-button color="primary" routerLink="questions">Start Quiz</button>
</div>
</div>